name: Create Release

on:
  push:
    tags: [ '1.0.0.Final.*' ]

env:
  SPARK_LOCAL_IP: 127.0.0.1

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          push: true
          build-args: |
            RELEASE_VERSION=1.0.0
          tags: ghcr.io/${{ github.repository_owner }}/debezium-server-iceberg:${{ github.ref_name }}
